@import "_spritesheet";

.morelink { height: auto; }
.morelink, .morelink:hover,
.disabled .morelink, .disabled .morelink:hover {
    margin: 0 1em;
    background: none;
    border: none;
    z-index: 1;
}
.disabled .morelink { opacity: 0.5; }
.side .morelink a {
    @include sprite("btn_big");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.3em;
}
.morelink a::after { position: initial !important; }
.morelink .nub { display: none; }
.morelink a:hover,
.morelink a:focus { @include sprite("btn_big_hover"); }
.morelink a:active { @include sprite("btn_big_active"); }