@import "_spritesheet";

form.toggle,
#remember-me {
    label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &::before {
            @include sprite("checkbox_off");
            content: "";
            display: inline-block;
            margin-right: 0.5em;
        }
    }
    
    input[type="checkbox"] { display: none; }
    input[type="checkbox"]:checked ~ label::before {
        @include sprite("checkbox_on");
    }
}
form.toggle label { width: 100%; }