@import "_spritesheet";

/* top right */
#header-bottom-right {
    background: none;
    padding: 17px 100px 0 42px;
    z-index: 1;
    text-align: right;
    top: 19px;
}
#header-bottom-right::before, #header-bottom-right::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#header-bottom-right::before { /* right */
    @include sprite("date_right");
    left: initial;
    bottom: initial;
}
#header-bottom-right .user { /* top left */
    position: relative;
    display: block;
    margin-bottom: 15px;
    height: 16px;
    line-height: 16px;

    &::before {
        content: "";
        position: absolute;
        top: -15px;
        right: 31px;
        bottom: -12px;
        left: -36px;
        border-style: solid;
        border-width: 16px 0 11px 36px;
        border-image: url(%%date-left-top%%) 16 0 11 36 fill repeat stretch;
        z-index: -1;
    }
}
.res-navTop #header-bottom-right .user { margin-bottom: 15px; }
$firstBottomSelector: "#header-bottom-right .user + *:not(.separator)," ;
#header-bottom-right .flat-list { /* bottom left */
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -7px;
        right: 0px;
        bottom: -47px;
        left: -36px;
        border-style: solid;
        border-width: 8px 0 46px 42px;
        border-image: url(%%date-left-bot%%) 8 0 46 42 fill repeat stretch;
        z-index: -1;
    }
}
#header-bottom-right .flat-list ~ *:not(.logout) { /* everything after preferences */
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -7px;
        right: 0;
        bottom: -47px;
        left: 0;
        border-style: solid;
        border-width: 8px 0 46px 0;
        border-image: url(%%date-left-bot%%) 8 0 46 0 fill repeat;
        z-index: -1;
    }
    &#openRESPrefs::before {
        bottom: -45px;
    }
}

@mixin date-icon($tooltip) {
    position: absolute;
    overflow: visible;

    @include tooltip($tooltip);

    /** place them to the left */
    &::before,
    &::after {
        left: initial;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
    }
}
/* mail icon */
#header-bottom-right a { color: #fff; }
#mail, #chat, #modmail, #new_modmail { font-size: 0px; background-size: initial; }
#mail, #mail.havemail {
    @include date-icon("Inbox");
    @include sprite("btn_inbox_red");
    right: 63px;
    top: 15px;
}
#mail.nohavemail {
    @include sprite("btn_inbox");
}
#mail + .separator, #mail + .message-count + .separator { display: none; }
#header-bottom-right #mail + .message-count {
    position: absolute;
    right: 60px;
    top: 26px;
    background: #a01917;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/* chat icon, replaced by modmail for mods */
#chat {
    @include date-icon("Chat");
    @include sprite("btn_chat");
    right: 53px;
    top: 42px;
    margin: 0;
}
#modmail.havemail, #modmail.nohavemail, #new_modmail.havemail, #new_modmail.nohavemail {
    @include date-icon("Modmail");
    @include sprite("btn_chat");
    right: 30px;
    top: 60px;
    margin: 0;
}
#modmail.havemail, #new_modmail.havemail {
    @include sprite("btn_chat_red");
}
#chat + .separator,
#modmail + .separator,
#new_modmail + .separator,
.user + .separator { display: none; }

/* logout icon */
#header-bottom-right .logout a {
    @include date-icon("Logout");
    @include sprite("btn_logout");
    display: inline-block;
    font-size: 0px;
    right: 2px;
    top: 67px;
}
#header-bottom-right > .separator:nth-last-child(2) { display: none; }
#header-bottom-right > #openRESPrefs:last-child { margin-left: 1em; }