/* top right */
#header-bottom-right {
    background: none;
    padding: 17px 100px 0 42px;
    z-index: 1;
    text-align: right;
    top: 19px;
}
#header-bottom-right::before, #header-bottom-right::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#header-bottom-right::before {
    width: 131px;
    height: 97px;
    left: initial;
    bottom: initial;
    background-image:
        url(%%date-timer%%),
        url(%%date-right%%);
    background-repeat: no-repeat;
    background-position:
        74px 13px,
        center;
}
#header-bottom-right .user {
    position: relative;
    display: block;
    margin-bottom: 15px;
    height: 16px;
    line-height: 16px;

    &::before {
        content: "";
        position: absolute;
        top: -16px;
        right: 31px;
        bottom: -11px;
        left: -36px;
        border-style: solid;
        border-width: 16px 0 11px 36px;
        border-image: url(%%date-left-top%%) 16 0 11 36 fill repeat stretch;
        z-index: -1;
    }
}
.res-navTop #header-bottom-right .user { margin-bottom: 15px; }
#header-bottom-right .flat-list { /* preferences */
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -8px;
        right: 0px;
        bottom: -46px;
        left: -36px;
        border-style: solid;
        border-width: 8px 0 46px 42px;
        border-image: url(%%date-left-bot%%) 8 0 46 42 fill repeat stretch;
        z-index: -1;
    }
}
#header-bottom-right .flat-list ~ *:not(.logout) { /* everything after preferences */
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -8px;
        right: 0;
        bottom: -46px;
        left: 0;
        border-style: solid;
        border-width: 8px 0 46px 0;
        border-image: url(%%date-left-bot%%) 8 0 46 0 fill repeat;
        z-index: -1;
    }
    &#openRESPrefs::before {
        bottom: -44px;
    }
}

@mixin date-icon($tooltip) {
    position: absolute;
    width: 25px;
    height: 25px;
    overflow: visible;

    @include tooltip($tooltip);

    /** place them to the left */
    &::before,
    &::after {
        left: initial;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
    }
}
/* mail icon */
#header-bottom-right a { color: #fff; }
#mail, #chat, #modmail { font-size: 0px; }
#mail, #mail.havemail {
    @include date-icon("Inbox");
    right: 63px;
    top: 15px;
    background-image: url(%%date-btn-red-mail%%);
    background-position: 0px 0px;
}
#mail.nohavemail {
    background-image: url(%%date-btn-mail%%);
    background-position: 0px;
}
#mail + .separator, #mail + .message-count + .separator { display: none; }
#header-bottom-right #mail + .message-count {
    position: absolute;
    right: 60px;
    top: 26px;
    background: #a01917;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/* chat icon, replaced by modmail for mods */
#chat {
    @include date-icon("Chat");
    right: 53px;
    top: 42px;
    background-image: url(%%date-btn-chat%%);
    background-position: 0px 0px;
    background-size: 100%;
    margin: 0;
}
#modmail.havemail, #modmail.nohavemail {
    @include date-icon("Modmail");
    right: 30px;
    top: 60px;
    background-image: url(%%date-btn-chat%%);
    background-position: 0px 0px;
    background-size: 100%;
    margin: 0;
}
#modmail.havemail {
    background-image: url(%%date-btn-red-chat%%);
}
#chat + .separator,
#modmail + .separator,
.user + .separator { display: none; }

/* logout icon */
#header-bottom-right .logout a {
    @include date-icon("Logout");
    display: inline-block;
    font-size: 0px;
    right: 2px;
    top: 67px;
    background-image: url(%%date-btn-logout%%);
}
#header-bottom-right > .separator:nth-last-child(2) { display: none; }
#header-bottom-right > #openRESPrefs:last-child { margin-left: 1em; }