.res-nightmode .side {
    .titlebox,
    .login-form,
    .sidebox,
    .morelink,
    .leavemoderator,
    .titlebox form.flairtoggle,
    .md ul,
    .usertext .md ol,
    .content
     {
        background: none;
        border: none;
    }
}
.res-nightmode #header-bottom-right {
    background: none;
}