@import "./_includes.scss";
@import "./buttons.scss";
@import "_spritesheet";

/* search */
#search { padding: 2em 2em 1em; }
#search input[type=text] {
    /* TODO: implement game-like search */
    width: 100%;
    background: none;
    border-radius: 5px;
    border: none;
    @include highlighted-section;
}
#searchexpando {
    position: relative;
    z-index: 1;
    border: none;
    color: #eee;

    &::before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        border: 16px solid transparent;
        border-image: url(%%tooltip-border%%) 16 16 fill repeat;
        z-index: -1;
    }
}

/* login form */
.login-form-side {
    border: none;
    padding: 0 1em;

    input[type=text],
    input[type=password] {
        color: #fff;
        background: none;
        border: none;
        border-radius: 5px;
        width: 135px;
        @include highlighted-section;
    }

    .g-recaptcha:empty { margin-top: 0; }
    .submit button {
        position: relative;
        background: none;
        border: none;
        padding: 6px 14px;
        color: #fff;
        z-index: 1;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
        }
        &::after {
            border-image: url(%%diploaction-green%%) 11 10 fill repeat;
            border-style: solid;
            border-width: 11px 10px;
            z-index: -1;
        }
        &::before { display: none; }
        &:hover::before,
        &:focus::before {
            display: block;
            background: rgba(#fff, 0.05);
        }
        &:active::before {
            display: block;
            background: rgba(#000, 0.1);
        }
    }
}

/* sub buttons */
.subButtons, .fancy-toggle-button {
    text-align: center;
}
.subButtons .fancy-toggle-button { text-align: initial; }
.res-fancy-toggle-button,
.fancy-toggle-button .remove.active,
.fancy-toggle-button .add.active {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-sizing: border-box;
    height: 23px;
    z-index: 1;
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
    }
    &::after {
        border-image: url(%%diploaction-green%%) 11 10 fill repeat;
        border-style: solid;
        border-width: 11px 10px;
        z-index: -1;
    }
    &::before { display: none; }
    &:hover::before,
    &:focus::before {
        display: block;
        background: rgba(#fff, 0.05);
    }
    &:active::before {
        display: block;
        background: rgba(#000, 0.1);
    }
}
.fancy-toggle-button .remove.active::after { border-image-source: url(%%diploaction-red%%); }

/* subscriber counts */
.subscribers, .users-online {
    @include sprite("banner_red");
    display: block;
    padding: 14px 96px 0 24px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 13px;
}
.users-online {
    $banner_coords: map-get($spritesheet_boundaries, "banner_red");
    margin-right: 16px;
    padding-left: 6px;
    background-position: -(nth($banner_coords, 1) * 1px + 16px) (-(nth($banner_coords, 2) * 1px));
    
    & > *,
    &::before { vertical-align: middle; }
    &::before {
        @include sprite("indicator_green");
        margin-right: 4px;
        float: none;
        display: inline-block;
    }
    .number::after { content: " World Conquerors"; }
}
.subscribers {
    margin-top: 12px;
    margin-bottom: -30px;
    
    .number::after { content: " Map Staring Experts"; }
}
.subscribers .word,
.users-online .word {
    display: none;
}

/* flair preview */
.flairtoggle + .tagline {
    display: inline-block;
    padding: 0 8px 5px;
    margin: 0;
    border-radius: 3px;
    align-self: center;
}

/* link info */
.linkinfo {
    background: none;
    padding: 5px 2em;
    border: none;
}
.linkinfo .shortlink input {
    @include highlighted-section;
    background: rgba(#222,0.25);
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
}