@import "./_includes.scss";
@import "_spritesheet";

.side {
    position: relative;
}

.side .md blockquote:nth-child(2) {
    position: absolute;
    bottom: 100%;
    z-index: 99;
    
    a {
        @include tooltip("Livestreams");
        @include sprite("tab_twitch");
        display: inline-block;
        font-size: 0px;
        position: relative;
        margin-right: -6px;
        
        &[href*="/r/paradoxplaza"] {
            @include tooltip("/r/Paradoxplaza");
            @include sprite("tab_paradoxreddit");
        }
        &[href="http://www.eu4wiki.com/"] {
            @include tooltip("EU4 Wiki");
            @include sprite("tab_wiki");
        }
        &[href^="https://forum.paradoxplaza.com/forum/"] {
            @include tooltip("Paradox Forums");
            @include sprite("tab_paradox");
        }
        &[href*="/r/paradoxplaza/wiki/teamspeak"] {
            @include tooltip("Teamspeak");
            @include sprite("tab_teamspeak");
        }
        &[href^="http://www.discord.gg/"] {
            @include tooltip("Discord");
            @include sprite("tab_discord");
        }
    }
}