.side h1 {
    display: flex !important;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 46px;
    padding: 9px 0 9px;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: #fff;
    font-weight: 200;
    font-size: 24px;
    color: #fff !important;
    z-index: 1;
}
.side h1::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: -8px;
    height: 72px;
    background-image: url(%%province-banner%%);
    background-position: 50%;
    z-index: -1;
}
.side .redditname::before { content: "Welcome to EU4"; }
.side .redditname a { display: none; }